body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8fafc;
  color: white;
}

h1 {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  margin: 0;
  letter-spacing: 1px;
}

h2 {
  color: #0f172a;
  font-weight: 700;
  margin-left: 40px;
}


.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
  color: #1e293b;
  transition: 0.3s;
}

.nav a:hover {
  color: #22d3ee;
}

/* Horizontal Blockchain Layout */
.block-list {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 40px;
  overflow-x: auto;
  position: relative;
}



.block-card {
  min-width: 300px;
  background-color: #1e293b;
}

.mine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;   /* page ke beech me laane ke liye */
}

.mine-box {
  text-align: center;
}

.mine-box h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.mine-box input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
}

.mine-box button {
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
}
